body {
  font-family: Arial, sans-serif;
  width: auto;
  height: auto;
  text-align: center;
  padding: 5px;
  background-color: #a7e1fa;
  /* margin-bottom: 5px; */
}

.timer {
  margin-top: 1px;
}

button {
  margin: 2px;
  padding: 2px;
  font-size: 16px;
}
#start {
  background-color: #96ff8a;
}
#pause {
  background-color: #ebef6b;
}
#stop {
  background-color: #ff7979;
}
#reset {
  background-color: #ed96ff;
}
#time {
  font-size: large;
}
